[Unit]
Description=Schweinehund Production App
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ app_dir }}
ExecStart={{ app_dir }}/venv/bin/schweinehund-run
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

